@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
  --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
}

.articles {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin-inline: auto;
}

@media screen and (min-width:375px) {
  .articles {
    flex-direction: row;
  }
}

.sedan 

article {
  width: 80vw;
  height: 85vh;
}

.learn-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
  height: 48px;
  margin-top: 5rem;
}

.learn-button:hover {
  background-color: transparent;
  color: var(--transparent-white) !important; 
  border: 1px solid var(--transparent-white);
}

.sedan {
  background-color: var(--bright-orange);
}

.suv {
  background-color: var(--dark-cyan);
}

.suv .learn-button {
  color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.luxury .learn-button {
  color: var(--very-dark-cyan);
}

figure {
  margin: 2rem;
  padding: 1rem;
}

article h2 {
  margin: 0 0 18px 0;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
  transition: color 0.3s ease-out;
}

article p {
  margin-top: 2rem;
  color: var(--transparent-white);
  line-height: 1.6rem;
}

.article-body {
  padding: 24px;
}
